:deep(.gc-column__header) .search {
    margin-bottom: 15px;
}

:deep(.el-scrollbar) .gc-list {
    padding-bottom: 30px;
}

:deep(.el-scrollbar) .gc-list .gc-list__item .contact-item .user {
    display: flex;
    align-items: center;
    width: 100%;
}

:deep(.el-scrollbar) .gc-list .gc-list__item .contact-item .user .avater {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

:deep(.el-scrollbar) .gc-list .gc-list__item .contact-item .user .avater img {
    border-radius: 50%;
}

:deep(.el-scrollbar) .gc-list .gc-list__item .contact-item .user .info {
    flex: 1;
}

:deep(.el-scrollbar) .gc-list .gc-list__item .contact-item .user .info .info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:deep(.el-scrollbar) .gc-list .gc-list__item .contact-item .user .info .info-top .nickname {
    flex: 1;
    width: 0;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}